@import url('http://fonts.googleapis.com/css?family=Montserrat');

bg-color = #F8F9FA
tags-bar-color = #f1f2f7
main-color = #2F6FED
sub-color = #2e5273
submenu-bg = rgb(0, 130, 200)
menu-hover = rgb(101, 201, 255)
eden-card-bg = #fff

el-aside-bg = #556d84
el-aside-color = #fff

tag-border = #e9eaec
tag-color = #4c4c4c
tag-close = lightblue
tag-active-bg = blue
tag-active-color = #fff

scrollbar-thumb-bg = #ccc
scrollbar-thumb-hover-bg = #666
scrollbar-corner-bg = #535353
scrollbar-resizer-bg = #FF6E00
body-scrollbar-thumb-bg = #ddd

flex-center = @block {
  display flex
  align-items center
  justify-content flex-end
}

.edenfont
  font-family 'Montserrat'
.edenfont-content
  font-family "Montserrat" !important
